{% extends "elm_base.html" %}
{% block title %}Foosball Leaderboard {% endblock %}
{% block content %}
    <h2>Record your foosball game!</h2>

    <div class="jumbotron">
        <div id="gamerec"></div>
    </div>
{% endblock %}
{% block postbody %}
<script src="/static/js/game_saver.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript">
    // JQuery is stupid, and doesn't respect the types provided in $.post
    $.ajaxSetup({
        contentType: "application/json; charset=utf-8"
    });
    // get an empty <div>
    var div = document.getElementById('gamerec');

    var startingState = null;
    var gamerecmvc = Elm.embed(Elm.GameSaver, div, {
        serverPort: ""
    });
    gamerecmvc.ports.setStorage.subscribe(function (state) {
        $.post("/historical_games",
                JSON.stringify({"player_list": state.players}),
                function (res) {
                    console.log(res);
                    if (res.saved) {
                        gamerecmvc.ports.serverPort.send(res.msg);
                    }
                    else {
                        // Empty string means don't save the model
                        gamerecmvc.ports.serverPort.send("");
                    }
                }, 'json')
    });

    // Autocomplete
    $.get("players", function (data) {
        var namesOnly = data.players.map(function (x) {
            return x.name;
        });

        $("#new-player").autocomplete({
            source: namesOnly,
            // get rid of the accessability thing that it keeps adding random
            // divs to for no reason at all
            create: function (e) {
                $('.ui-helper-hidden-accessible').remove();
            }
        })
    });
</script>
{% endblock %}
