<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Record Foosball Game</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/foosball.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Record your foosball game!</h2>

    <div class="jumbotron">
        <div id="gamerec"></div>
    </div>
</div>
</body>
<script src="/static/js/game_saver.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript">
    // JQuery is stupid, and doesn't respect the types provided in $.post
    $.ajaxSetup({
        contentType: "application/json; charset=utf-8"
    });
    // get an empty <div>
    var div = document.getElementById('gamerec');

    var startingState = null;
    var gamerecmvc = Elm.embed(Elm.GameSaver, div, {serverPort: ""});
    gamerecmvc.ports.setStorage.subscribe(function (state) {
        $.post("/historical_games",
                JSON.stringify({"player_list": state.players}),
                function (res) {
                    console.log(res);
                    if (res.saved) {
                        gamerecmvc.ports.serverPort.send(res.msg);
                    }
                    else {
                        // Empty string means don't save the model
                        gamerecmvc.ports.serverPort.send("");
                    }
                }, 'json')
    });
</script>
</html>